<form formGroup="frmBusquedaAlumnos" class="form-horizontal" (ngSubmit)="buscar();">
    <div class="row p-t-20">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Criterios de búsqueda...">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group has-danger">
                <button type="submit" class="btn btn-primary">
                    Buscar
                </button>
            </div>
        </div>
    </div>
</form>
<div class="row el-element-overlay">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="../assets/images/users/1.jpg" alt="user">
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li>
                                <a class="btn default btn-outline" href="javascript:void(0);">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                        class="icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/users/2.jpg" alt="user">
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                        class="icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/users/3.jpg" alt="user">
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                        class="icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/users/4.jpg" alt="user">
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i
                                        class="icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Genelia Deshmukh</h3> <small>Managing Director</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>