<form [formGroup]="frmBusquedaAlumnos" class="form-horizontal" (ngSubmit)="buscar()">
    <div class="row p-t-20">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="criterio" placeholder="Criterios de búsqueda...">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group has-danger">
                <button type="submit" class="btn btn-primary">
                    Buscar
                </button>
            </div>
        </div>
    </div>
</form>
<div class="row el-element-overlay">
    <div class="col-lg-3 col-md-6" *ngFor="let alumno of alumnos">
        <div class="card">
            <div class="el-card-item">
                <app-avatar [usuario]="alumno" tipo="alumno" [mostrarEdicion]="false" (CambiarAvatar)="actualizarAvatar($event, alumno)">
                </app-avatar>
                <div class="el-card-content">
                    <h3 class="box-title">{{alumno.nombre}} {{alumno.apaterno}}</h3> <small>{{ alumno.curp }}</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>