<div class="modal-header">
    <h4 id="dialog-name" class="modal-title pull-left"><em class="icon-envelope-open mr-1"></em> Registrar nueva materia
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="frmMateria" class="form-horizontal" (submit)="guardar();">
        <div class="form-body">
            <div class="form-group">
                <label class="form-control-label">Clave:</label>
                <input type="text" class="form-control" formControlName="clave" placeholder="Ingrese la clave." maxlength="15">
            </div>
        </div>
        <div class="form-group" [ngClass]="{'2': '', '1': 'has-danger', '0': 'has-success'}[validarControl(frmMateria, 'nombre')]">
            <label class="form-control-label">Nombre materia <span class="text-danger"
                    *ngIf="frmMateria.controls['nombre'].invalid">*</span></label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese el nombre." maxlength="40" required [ngClass]="{'2': '', '1': 'form-control-danger', '0': 'form-control-success'}[validarControl(frmMateria, 'nombre')]">
            <small class="form-control-feedback" *ngIf="mostrarMensajeError(frmMateria, 'nombre', 'required')">
                El nombre de la materia es requerido.
            </small>
        </div>
        <label class="form-control-label">Es curricular <span class="text-danger"
                *ngIf="frmMateria.controls['curricular'].invalid">*</span></label>
        <div class="controls">
            <input id="rdSi" name="curricular" formControlName="curricular" class="radio-col-light-blue mr-2 with-gap" [formControl]="frmMateria.controls['curricular']" type="radio" value="true" />
            <label for="rdSi">SI</label>
            <input id="rdNo" name="curricular" formControlName="curricular" class="radio-col-light-blue with-gap" [formControl]="frmMateria.controls['curricular']" type="radio" value="false" />
            <label for="rdNo">NO</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="hide()">
        Cancelar
    </button>
    <button type="button" class="btn btn-primary" [disabled]="!frmMateria.dirty || frmMateria.invalid" (click)="guardar();">
        Guardar
    </button>
</div>