.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.overlay-1 {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.overlay-1 img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    width: 100%;
    height: auto;
    min-height: 140px;
    min-width: 140px;
}

.overlay-1:hover img {
    -ms-transform: scale(1.2) translateZ(0);
    -webkit-transform: scale(1.2) translateZ(0);
    /* transform: scale(1.2) translateZ(0); */
}

.overlay-1 .info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) translateZ(0);
    -webkit-transform: translateY(-50%) translateZ(0);
    -ms-transform: translateY(-50%) translateZ(0);
}

.overlay-1 .info>li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}

.overlay-1 .info>li a {
    border-color: #ffffff;
    color: #ffffff;
    padding: 12px 15px 10px;
}

.overlay-1 .info>li a:hover {
    background: #9b0c22;
    border-color: #9b0c22;
}

.overlay-1 .info>li button {
    border-color: #ffffff;
    color: #ffffff;
    padding: 12px 15px 10px;
}


/* .overlay-1 .info>li button:hover {
    background: #398bf7 !important;
    border-color: #398bf7 !important;
} */

.overlay-1:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}