<div class="overlay-1">
    <img [src]="imgTemp || (usuario.avatar | avatar: 'usuario')" [alt]="usuario.nombre">
    <input #file type="file" class="d-none" [name]="usuario.id" (change)="handlerCambiarAvatar($event)">
    <div class="overlay">
        <ul class="info">
            <li>
                <a class="btn default btn-outline btn-xs" href="javascript:void(0);" tooltip="Modificar información">
                    <i class="mdi mdi-lead-pencil"></i>
                </a>
            </li>
            <li>
                <a class="btn default btn-outline btn-xs" href="javascript:void(0);" tooltip="Cambiar imagen" (click)="cambiarAvatar();">
                    <i class="mdi mdi-image-multiple"></i>
                </a>
            </li>
        </ul>
    </div>
</div>