
<div class="card">
    <div class="card-header bg-theme">
        <h3 class="card-title text-white"><i class="mdi mdi-18px mdi-library"></i> Informacion de Profesores
            </h3>
    </div>
    <div class="card-body">
        <form [formGroup]="frmDatosProfesores">
            <div class="form-body">
                <!-- Seccion 1 -->
                <div class="row p-t-20">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
                        <img class="img-circle img-responsive m-auto" src="../../../assets/images/icon/no-image.png" style="width: 160px !important; height: 160px !important;">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group" [ngClass]="{'2': '', '1': 'has-danger', '0': 'has-success'}[validarControl(frmDatosProfesores, 'nombre')]">
                                    <label class="form-control-label">Nombre(s) <span class="text-danger"
                                            *ngIf="frmDatosProfesores.controls['nombre'].invalid">*</span></label>
                                    <input type="text" class="form-control text-uppercase" placeholder="Nombres." formControlName="nombre" required [ngClass]="{'2': '', '1': 'form-control-danger', '0': 'form-control-success'}[validarControl(frmDatosProfesores, 'nombre')]">
                                    <small class="form-control-feedback" *ngIf="mostrarMensajeError(frmDatosProfesores, 'nombre', 'required')">
                                        El nombre es requerido.
                                    </small>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group" [ngClass]="{'2': '', '1': 'has-danger', '0': 'has-success'}[validarControl(frmDatosProfesores, 'apaterno')]">
                                    <label class="form-control-label">Apellido paterno <span class="text-danger"
                                            *ngIf="frmDatosProfesores.controls['apaterno'].invalid">*</span></label>
                                    <input type="text" class="form-control text-uppercase" placeholder="Apellido Paterno." formControlName="apaterno" required [ngClass]="{'2': '', '1': 'form-control-danger', '0': 'form-control-success'}[validarControl(frmDatosProfesores, 'apaterno')]">
                                    <!--<small class="form-control-feedback" *ngIf="mostrarMensajeError(frmDatosProfesores, 'apaterno', 'required')">
                                        El apellido paterno es requerido.
                                    </small>-->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label">Apellido materno</label>
                                    <input type="text" class="form-control text-uppercase" placeholder="Apellido Materno." formControlName="amaterno">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-control-label">Sexo <span class="text-danger"
                                            *ngIf="frmDatosProfesores.controls['sexo'].invalid">*</span></label>
                                    <div class="controls">
                                        <input id="rdHombre" name="sexo" formControlName="sexo" class="radio-col-light-blue mr-2 with-gap" [formControl]="frmDatosProfesores.controls['sexo']" type="radio" value="H" />
                                        <label for="rdHombre">Hombre</label>
                                        <input id="rdMujer" name="sexo" formControlName="sexo" class="radio-col-light-blue with-gap" [formControl]="frmDatosProfesores.controls['sexo']" type="radio" value="M" />
                                        <label for="rdMujer">Mujer</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Seccion 2 -->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group" [ngClass]="{'2': '', '1': 'has-danger', '0': 'has-success'}[validarControl(frmDatosProfesores, 'fechanacimiento')]">
                            <label class="form-control-label">Fecha de Nacimiento <span class="text-danger"
                                    *ngIf="frmDatosProfesores.controls['fechanacimiento'].invalid">*</span></label>
                            <input type="text" class="form-control text-uppercase" placeholder="Fecha Nacimiento" formControlName="fechanacimiento" required [ngClass]="{'2': '', '1': 'form-control-danger', '0': 'form-control-success'}[validarControl(frmDatosProfesores, 'fechanacimiento')]">
                            <small class="form-control-feedback" *ngIf="mostrarMensajeError(frmDatosProfesores, 'fechanacimiento', 'required')">
                                La fecha de nacimiento es requerida.
                            </small>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group" [ngClass]="{ false: '', true: 'has-danger'}[mostrarMensajeError(frmDatosProfesores, 'correoelectronico', 'email')]">
                            <label class="form-control-label">Correo electrónico</label>
                            <input type="text" class="form-control text-lowercase" placeholder="Correo Electronico." formControlName="correoelectronico">
                            <small class="form-control-feedback" *ngIf="mostrarMensajeError(frmDatosProfesores, 'correoelectronico', 'email')">
                                No cumple con la estructura de un correo electrónico.
                            </small>
                        </div>
                    </div>
                </div>
                              
            <div class="card-footer">
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="save()">
                <!--[disabled]="frmDatosProfesores.invalid"-->
                Registrar
            </button>
        </div>
    </div>
</div>