<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <button type="button" class="btn btn-secondary" (click)="add()"><i
                            class="mdi mdi-account-multiple-plus"></i> Nuevo
                        Profesor</button>
                </div>
                <div class="table-responsive">
                    <table datatable class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Nombre</th>
                                <th>Correo electrónico</th>
                                <th>Fecha nacimiento</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0001231</td>
                                <td>
                                    <a href="javascript:void(0)">
                                        <img src="./assets/images/users/1.jpg" alt="user" width="40" class="img-circle"> Felipe Calderon Hinojosa
                                    </a>
                                </td>
                                <td>profesor1@iass.edu.mx</td>
                                <td class="text-right">22 Mar 1976</td>
                                <td class="text-nowrap text-center">
                                    <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                            <tr>
                                <td>0001231</td>
                                <td>
                                    <a href="javascript:void(0)">
                                        <img src="./assets/images/users/2.jpg" alt="user" width="40" class="img-circle"> Raúl Zuñiga Magaña
                                    </a>
                                </td>
                                <td>profesor2@iass.edu.mx</td>
                                <td class="text-right">11 Abr 1987</td>
                                <td class="text-nowrap text-center">
                                    <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                            <tr>
                                <td>0001231</td>
                                <td>
                                    <a href="javascript:void(0)">
                                        <img src="./assets/images/users/4.jpg" alt="user" width="40" class="img-circle"> Rosalia Sanchez Medrano
                                    </a>
                                </td>
                                <td>profesor1@iass.edu.mx</td>
                                <td class="text-right">22 Mar 1976</td>
                                <td class="text-nowrap text-center">
                                    <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>-