<form [formGroup]="frmBusquedaProfesores" class="form-horizontal" (ngSubmit)="buscar()">
    <div class="row p-t-20">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="criterio" placeholder="Criterios de búsqueda...">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group has-danger">
                <button type="submit" class="btn btn-primary">
                    Buscar
                </button>
                <button type="button" class="btn btn-secondary float-right" (click)="agregar()"><i
                        class="mdi mdi-account-multiple-plus"></i> Nuevo
                    Profesor</button>
            </div>

        </div>
    </div>
</form>
<div class="row el-element-overlay">
    <div class="col-lg-3 col-md-6" *ngFor="let profesor of profesores">
        <div class="card">
            <div class="el-card-item">
                <app-avatar [usuario]="profesor" tipo="profesor" mostrarEdicion="true" (Editar)="editarProfesor($event)" (CambiarAvatar)="actualizarAvatar($event, profesor)">
                </app-avatar>
                <div class="el-card-content">
                    <h3 class="box-title">{{profesor.nombre}} {{profesor.apaterno}}</h3>
                    <div *ngIf="profesor.amaterno">
                        <small>{{ profesor.amaterno }}</small>
                        <br>
                    </div>
                    <small class="text-muted">{{ profesor.correoElectronico || 'Sin correo electrónico' }}</small>
                </div>
            </div>
        </div>
    </div>
</div>